.vscode/**
.vscode-test/**
.github
src/**
scripts/**
out/scripts
out/test/**
test/**
testProject/**
**/*.map
.gitignore
tsconfig*.json
.editorconfig
.prettierignore
yarn.lock
prettier.config.js
*.log
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/LICENSE
node_modules/**/license
node_modules/**/test/*
node_modules/node-fetch/**
node_modules/whatwg-url/**
node_modules/sha1-file/**
