.vscode/**
.vscode-test/**
src/**
scripts/**
out/scripts
out/test/**
test/**
testProject/**
**/*.map
.gitignore
.travis.yml
tsconfig.json
.editorconfig
yarn.lock
*.log
node_modules/**/*.md
node_modules/node-fetch/**
node_modules/sha1-file/**
