.vscode/**
.vscode-test/**
src/**
scripts/**
out/scripts
out/test/**
test/**
testProject/**
**/*.map
.gitignore
.travis.yml
tsconfig.json
.editorconfig
yarn.lock
generate.ts
README.tpl.md
composer.json
composer.lock
vendor/**
!vendor/phpfmt-next/fmt/bin/fmt.phar
